In [7]:
import warnings
warnings.filterwarnings('ignore')

### Load Data

Dataset diambil dari Google Drive menggunakan `gdown`

In [19]:
!gdown --id 1pYHvhzRYaolymRZYWmxFdylGOR-RgyWn #Download File

/usr/local/lib/python3.12/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1pYHvhzRYaolymRZYWmxFdylGOR-RgyWn
To: /content/Rakamin Bootcamp - Dataset - Promotion Dataset.csv
100% 35.5k/35.5k [00:00<00:00, 83.5MB/s]

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('Rakamin Bootcamp - Dataset - Promotion Dataset.csv', sep = ';')
df.head()

,Employee_ID,Age,Years_at_Company,Performance_Score,Leadership_Score,Training_Hours,Projects_Handled,Peer_Review_Score,Current_Position_Level,Promotion_Eligible
0,EMP0001,24.0,21.0,2.0,44.0,42.0,19.0,61.0,Junior,0.0
1,EMP0002,50.0,8.0,5.0,45.0,66.0,11.0,6.0,Junior,0.0
2,EMP0003,56.0,9.0,5.0,19.0,96.0,6.0,86.0,Lead,0.0
3,EMP0004,39.0,24.0,4.0,51.0,16.0,6.0,52.0,Senior,0.0
4,EMP0005,41.0,NaN,4.0,64.0,57.0,16.0,59.0,Junior,0.0

### Info Data

Cek ukuran, tipe data, dan kolom pada dataset.

In [22]:
print("Jumlah baris dan kolom:", df.shape)
print("\nTipe data setiap kolom:")
print(df.dtypes)

Jumlah baris dan kolom: (1000, 10)

Tipe data setiap kolom:
Employee_ID                object
Age                       float64
Years_at_Company          float64
Performance_Score         float64
Leadership_Score          float64
Training_Hours            float64
Projects_Handled          float64
Peer_Review_Score         float64
Current_Position_Level     object
Promotion_Eligible        float64
dtype: object

## Missing Value Check
Periksa apakah ada data yang hilang (missing value) pada setiap kolom.

In [23]:
df.isnull().sum()

Employee_ID                0
Age                       50
Years_at_Company          49
Performance_Score         50
Leadership_Score          50
Training_Hours            50
Projects_Handled          50
Peer_Review_Score         50
Current_Position_Level    50
Promotion_Eligible        50
dtype: int64

### Duplicate Data Check

In [26]:
duplicate_count = df.duplicated().sum()
print(f"Jumlah baris duplikat: {duplicate_count}")

if duplicate_count > 0:
    print("\nContoh data duplikat:")
    display(df[df.duplicated()].head())
else:
    print("Tidak ada baris duplikat.")

Jumlah baris duplikat: 0
Tidak ada baris duplikat.

Analisis berikutnya akan dilanjutkan pada tahap EDA